<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<style>
.fieldError {
border-color: #bd2130;
}
.form-group .form-control {
width: 30%;
}
.inputs{
display: flex;
}
.inputs .firstbox {
width: 10%;
}
.inputs .secondbox {
width: 90%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

</style>
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div>
        <span><h3>배송정보 입력</h3></span>
    </div>

    <!--입력 폼-->
    <div>
    <form action="#" th:action="@{/orders/new}" th:object="${createOrderForm}" method="post">
        <input type="hidden" th:field="*{sheetId}">

        <div class="form-group">
            <label>받는분</label>
            <input type="text" th:field="*{receiverName}" class="form-control" placeholder="받는분 성함을 입력하세요"
                   th:class="${#fields.hasErrors('receiverName')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('receiverName')}" th:errors="*{receiverName}" style="color:red;"/>
        </div>
        <div class="form-group">
            <label>연락처</label>
            <input type="number" th:field="*{receiverPhoneNumber}" class="form-control" placeholder="연락처를 입력하세요"
                   th:class="${#fields.hasErrors('receiverPhoneNumber')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('receiverPhoneNumber')}" th:errors="*{receiverPhoneNumber}" style="color:red;"/>
        </div>
        <div class="form-group">
            <label>기본주소</label>
            <input type="text" th:field="*{address1}" class="form-control" placeholder="기본주소를 입력하세요"
                   th:class="${#fields.hasErrors('address1')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('address1')}" th:errors="*{address1}" style="color:red;"/>
        </div>
        <div class="form-group">
            <label>상세주소</label>
            <input type="text" th:field="*{address2}" class="form-control" placeholder="상세주소를 입력하세요"
                   th:class="${#fields.hasErrors('address2')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('address2')}" th:errors="*{address2}" style="color:red;"/>
        </div>
        <div class="form-group">
            <label>우편번호</label>
            <input type="text" th:field="*{zipcode}" class="form-control" placeholder="우편번호를 입력하세요">
        </div>

        <div class="form-group">
            <label>배송메모</label>
            <input type="text" th:field="*{memo}" class="form-control" placeholder="배송메모를 입력하세요">
        </div>


        <div th:each="item, iterStat : *{orderItems}" style="border:5px solid gold">
            <input type="hidden" th:field="*{orderItems[__${iterStat.index}__].cartId}">
            <input type="hidden" th:field="*{orderItems[__${iterStat.index}__].itemId}">
            <input type="hidden" th:field="*{orderItems[__${iterStat.index}__].totalPrice}">

            <div class="inputs">
                <div class="firstbox">
                    <label>상품명</label>
                </div>
                <div class="secondbox">
                    <input th:field="*{orderItems[__${iterStat.index}__].itemName}" readonly/>
                </div>
            </div>

            <div class="inputs">
                <div class="firstbox">
                    <label>가격</label>
                </div>
                <div class="secondbox">
                    <input th:field="*{orderItems[__${iterStat.index}__].price}" readonly/>
                </div>
            </div>

            <div class="inputs">
                <div class="firstbox">
                    <label>수량</label>
                </div>
                <div class="secondbox">
                    <input th:field="*{orderItems[__${iterStat.index}__].count}" readonly/>
                </div>
            </div>
        </div>

        <div class="inputs">
            <div class="firstbox">
                <label>총 결제금액</label>
            </div>
            <div class="secondbox">
                <input type="number" th:value="*{totalPrice}" readonly/>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">주문</button>
    </form>
    </div>
    <!--/입력 폼-->

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>