<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
 .fieldError {
 border-color: #bd2130;
 }
 .form-control {
      width: 30%;
  }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form id="form" action="/members/new" th:object="${memberForm}" method="post">
        <div class="form-group">
            <label>회원명</label>
            <input type="hidden" name="duplCheck" id="duplCheck" value="false">
            <input id="userName" type="text" th:field="*{userName}" class="form-control" placeholder="회원명을 입력하세요"
                   th:class="${#fields.hasErrors('userName')}? 'form-control fieldError' : 'form-control'">
            <span> <a href="#" class="btn btn-primary" th:onClick="javascript:duplicateCheck();">
                중복확인</a>
            </span>
            <span id="duplMsg"></span>
            <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" style="color:red;"/>
        </div>
        <div class="form-group">
            <label>비밀번호</label>
            <input type="password" th:field="*{password}" class="form-control" placeholder="회원명을 입력하세요"
                   th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red;"/>
        </div>
        <div class="form-group">
            <label>비밀번호 확인</label>
            <input type="password" th:field="*{passwordCheck}" class="form-control" placeholder="회원명을 입력하세요"
                   th:class="${#fields.hasErrors('passwordCheck')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}" style="color:red;"/>
        </div>
        <div class="form-group">
            <label>실명</label>
            <input type="text" th:field="*{realName}" class="form-control" placeholder="실명을 입력하세요"
                   th:class="${#fields.hasErrors('realName')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('realName')}" th:errors="*{realName}" style="color:red;"/>
        </div>
        <div class="form-group">
            <label>나이</label>
            <input type="number" th:field="*{age}" class="form-control" placeholder="나이를 입력하세요">
        </div>
        <div class="form-group mx-sm-1 mb-2">
            <select th:field="*{sex}" class="form-control">
                <option th:each=
                                "status : ${T(pofol.shop.domain.enums.Sex).values()}"
                        th:value="${status}"
                        th:text="${status}">option
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>기본주소</label>
            <input type="text" th:field="*{address1}" class="form-control" placeholder="기본주소를 입력하세요"
                   th:class="${#fields.hasErrors('address1')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('address1')}" th:errors="*{address1}" style="color:red;"/>
        </div>
        <div class="form-group">
            <label>상세주소</label>
            <input type="text" th:field="*{address2}" class="form-control" placeholder="상세주소를 입력하세요">
        </div>
        <div class="form-group">
            <label>우편번호</label>
            <input type="number" th:field="*{zipcode}" class="form-control" placeholder="우편번호를 입력하세요">
        </div>

        <a href="#" class="btn btn-primary" th:onClick="javascript:join();">
            회원 가입</a>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>
$('#userName').on('change', function() {
    $('#duplCheck').val(false);
    $('#duplMsg').html('중복확인을 해주세요');
});

function join(){
    if($('#duplCheck').val()=='false'){
        alert('회원명 중복확인을 해주세요');
        return false;
    }
    $('#form').submit();
}


function duplicateCheck(){
    var username = $('#userName').val();
    if(username == undefined || username == null || username.length == 0){
        $('#duplCheck').val(false);
        $('#duplMsg').html('사용불가능한 회원명입니다.');
        return false;
    }

    $.ajax({

        type : 'post',
        url : "/members/duplicateCheck",
        headers : {
            "Content-Type" : "text/html; charset=utf-8",
            "X-HTTP-Method-Override" : "POST"
        },
        dataType : 'text',
        data : username,
        success : function(res){
            if(res==='true'){
            $('#duplCheck').val(true);
            $('#duplMsg').html('사용가능한 회원명입니다.');
            }
            else{
            $('#duplCheck').val(false);
            $('#duplMsg').html('사용불가능한 회원명입니다.');
            }
        },
        failure : function(){
            alert("다시 시도해주세요");
        }
    });

    return false;
}
</script>

</html>