<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html::header(~{::head}, 'home')}">
<style>

</style>

<body>
<div class="container">
    <div th:replace="~{fragments/bodyheader.html::bodyHeader(~{::body}, 'home')}" />

    <!--검색창-->
    <div>
        <form th:object="${search}" class="form-inline">
            <div class="form-group mb-2">
                <input type="text" th:field="*{userName}" class="formcontrol" placeholder="회원명"/>
            </div>
            <div class="form-group mb-2">
                <input type="text" th:field="*{realName}" class="formcontrol" placeholder="이름"/>
            </div>

            <button type="submit" class="btn btn-primary mb-2">검색</button>
        </form>
    </div>
    <!--/검색창-->

    <!--회원 목록-->
    <table class="table table-striped">
        <thead>
        <tr>
            <td width="200">회원명</td>
            <td width="200">이름</td>
            <td width="200">나이</td>
            <td width="200"></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <td th:text="${member.userName}"></td>
            <td th:text="${member.personalInfo.realName}"></td>
            <td th:text="${member.personalInfo.age}"></td>
            <td>
                <a th:href="|/members/${member.id}|" class="btn btn-primary">상세정보</a>
            </td>
        </tr>
        </tbody>
    </table>
    <!--/회원 목록-->

    <!--페이지 이동 버튼 목록-->
    <div align="center">

        <!--현재 시작번호에서-1 페이지로 이동-->
        <!--현재 시작번호가 10보다 크면 표시함-->
        <a th:if="${pageStart} > 1"
           th:href="@{/members(page=${pageStart - 2}, userName=${search.userName}, realName=${search.realName})}"
           th:text="|<<|"
           class="btn btn-info"
        ></a>

        <!--페이지 번호 목록-->
        <span>
                <a style="margin:3px;"
                   th:each="num : ${#numbers.sequence( __${pageStart}__ , __${pageEnd}__ )}"
                   th:with="isCur = ${ __${num}__ == __${curNumber}__ }"
                   type="button"
                   th:class="${isCur ? 'btn btn-primary' : 'btn btn-info'}"
                   th:text="${num}"
                   th:href="@{/members(page=${num-1}, userName=${search.userName}, realName=${search.realName})}"
                ></a>
        </span>

        <!--현재 마지막번호+1 페이지로 이동-->
        <!--현재 마지막 번호가 전체에서 마지막 페이지면 표시안함-->
        <a th:if="${pageEnd} < ${totalPage}"
           th:href="@{/members(page=${pageEnd}, userName=${search.userName}, realName=${search.realName})}"
           th:text="|>>|"
           class="btn btn-info"
        ></a>

    </div>
    <!--/페이지 이동 버튼 목록-->

    <div th:replace="~{fragments/footer::footer(~{::body}, 'home')}" />
</div> <!-- /container -->
</body>
<script type="text/javascript">

</script>
</html>