<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
 .info {
      width: 30%;
  }
  .profile {
    padding: 10px;
  }
  .form-control {
      width: 100%;
  }
  .form-group{
    align: left;
    width: 30%;
  }

</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div class="outer" align="center">
        <!--프로필 이미지-->
        <div class="profile" align="center">
            <img th:src="|/images/${form.profileId}|" width="100" height="100">
        </div>
        <div class="form-group">
            <label>회원명</label>
            <input type="text" th:value="${form.userName}" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label>실명</label>
            <input type="text" th:value="${form.realName}" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label>성별</label>
            <input type="text" th:value="${form.sex}" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label>나이</label>
            <input type="text" th:value="${form.age}" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label>기본주소</label>
            <input type="text" th:value="${form.address1}" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label>상세주소</label>
            <input type="text" th:value="${form.address2}" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label>우편번호</label>
            <input type="text" th:value="${form.zipcode}" class="form-control" readonly>
        </div>

        <!--수정화면으로 이동-->
        <p>
            <a class="btn btn-lg btn-secondary" href="/mypage/details/edit">수정</a>
        </p>

    </div>

    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>
$('.form-group').attr('align','left');
</script>

</html>