<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div>
        <form th:object="${search}" class="form-inline">
            <div class="form-group mx-sm-1 mb-2">
                <select th:field="*{orderStatus}" class="form-control">
                    <option value="">주문상태</option>
                    <option th:each="status : ${T(pofol.shop.domain.enums.OrderStatus).values()}"
                            th:value="${status}"
                            th:text="${status}">option
                    </option>
                </select>
            </div>
            <div class="form-group">
                <input type="date" th:field="*{startDateInput}" class="formcontrol"/>
            </div>
            <span>~</span>
            <div class="form-group">
                <input type="date" th:field="*{endDateInput}" class="formcontrol"/>
            </div>
            <button type="submit" class="btn btn-primary mb-2">검색</button>
        </form>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <td>주문번호</td>
            <td>결제금액</td>
            <td>일시</td>
            <td>주문상태</td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.orderTotalPrice}"></td>
            <td th:text="${order.orderDate}"></td>
            <td th:text="${order.status}"></td>
            <td>
                <a th:href="|/orders/${order.id}|" class="btn btn-primary">상세정보</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div align="center">
        <a th:if="${pageStart} > 10"
           th:text="|<<|"
           class="btn btn-info"
           th:href="@{/mypage/myorders
                   (
                   page=${pageStart - 2},
                   orderStatus=${search.orderStatus},
                   startDateInput=${search.startDateInput},
                   endDateInput=${search.endDateInput}
                   )}"
        ></a>

        <span>
                <a style="margin:3px;"
                   th:each="num : ${#numbers.sequence( __${pageStart}__ , __${pageEnd}__ )}"
                   th:with="isCur = ${ __${num}__ == __${curNumber}__ }"
                   th:class="${isCur ? 'btn btn-primary' : 'btn btn-info'}"
                   th:text="${num}"
                   th:href="@{/mypage/myorders
                           (
                           page=${num - 1},
                           orderStatus=${search.orderStatus},
                           startDateInput=${search.startDateInput},
                           endDateInput=${search.endDateInput}
                           )}"
                ></a>
        </span>

        <a th:if="${pageEnd} < ${totalPage}"
           th:text="|>>|"
           class="btn btn-info"
           th:href="@{/mypage/myorders
                   (
                   page=${pageEnd},
                   orderStatus=${search.orderStatus},
                   startDateInput=${search.startDateInput},
                   endDateInput=${search.endDateInput}
                   )}"
        ></a>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script type="text/javascript">
 function cancel(id) {
 var form = document.createElement("form");
 form.setAttribute("method", "post");
 form.setAttribute("action", "/orders/" + id + "/cancel");
 document.body.appendChild(form);
 form.submit();
 }


</script>
</html>