<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html::header(~{::head}, 'home')}">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<style>

</style>
<body>
<div class="container">
    <div th:replace="~{fragments/bodyheader.html::bodyHeader(~{::body}, 'home')}"/>
    <!--선택버튼-->
    <div class="parent" style="height:50px" align="right">
        <button type="button" class="btn btn-primary" th:onClick="javascript:deleteChecked();">선택한 항목 삭제</button>
        <label for="allSelect">전체선택</label>
        <input id="allSelect" name="allSelect" type="checkbox" onclick="javascript:allSelect(this);" checked>
    </div>

    <!--장바구니 목록-->
    <table class="table table-striped">
        <tr class="table-primary">
            <th></th>
            <th>상품명</th>
            <th>개당 가격</th>
            <th>수량</th>
            <th>총 가격</th>
            <th></th>
        </tr>
        <tr name="item" th:each="cart : ${carts}">
            <td th:value="${cart.itemId}"></td>
            <td th:text="${cart.itemName}" th:value="${cart.itemName}"></td>
            <td th:text="${cart.price}" th:value="${cart.price}"></td>
            <td th:text="${cart.count}" th:value="${cart.count}"></td>
            <td th:text="${cart.totalPrice}" th:value="${cart.totalPrice}"></td>
            <td><input id="itemCheck" type="checkbox" checked th:value="${cart.cartId}"
                       onclick="javascript:itemSelect();"></td>
        </tr>
    </table>

    <!--주문이동 버튼-->
    <button id="order-btn"
            type="button" th:data-username="${username}"
            class="btn btn-primary"
            th:onClick="javascript:buy(this.getAttribute('data-username'));">주문으로
    </button>


    <div th:replace="~{fragments/footer::footer(~{::body}, 'home')}"/>
</div> <!-- /container -->
</body>
<script th:inline="javascript">

window.onload = orderEnableCheck();



function buy(userName){ //주문화면으로 이동

    var items = new Array(); //아이템 배열

    //
    $('[name=item]').each(function(){
      var checkBox = $(this).children().last().children();

      //해당 아이템을 선택했는지 확인인
      var isChecked = checkBox.is(':checked');
      if(isChecked){
        var item = {};
        item.cartId = checkBox.val();
        item.itemId = $(this).children().eq(0).attr('value');
        item.itemName = $(this).children().eq(1).attr('value');
        item.price = $(this).children().eq(2).attr('value');
        item.count = $(this).children().eq(3).attr('value');
        item.totalPrice = $(this).children().eq(4).attr('value');
        items.push(item);
      }
    });

    //주문시트 생성 폼
    var form = {
      "userName" : userName,
      "items" : items
    }

    $.ajax({

    type : 'post',
    url : "/order-sheet",
    headers : {
        "Content-Type" : "application/json",
        "X-HTTP-Method-Override" : "POST"
    },
    dataType : 'json',
    data : JSON.stringify(form),

    //주문시트 생성이 성공하면 해당 주문시트 URL로 이동
    success : function(res){

        window.location.href = '/order-sheet/' + res.data;
    },
    failure : function(){
        alert("서버와의 통신에 실패했습니다.");
    }

    });
    return false;
}


function allSelect(chk){ //전체 선택 체크 이벤트
  if(chk.checked){
    $('input:checkbox').prop('checked',true);
  }
  else {
    $('input:checkbox').prop('checked',false);
  }
  orderEnableCheck();
}

function itemSelect(){ //개별 아이템 선택 체크 이벤트
  var allSelected = true;
  $('[id=itemCheck]').each(function(){
    if(!$(this).prop('checked')) { //하나라도 체크를 안했으면 전체 선택 체크 해제
      $('#allSelect').prop('checked', false);
      allSelected = false;
    }
  });

  if(allSelected) $('#allSelect').prop('checked', true); //모든 아이템을 체크했으면 전체 선택 체크
  orderEnableCheck();
}

function deleteChecked(){ //선택한 아이템 삭제

  if(!confirm('선택한 상품들을 장바구니에서 삭제하시겠습니까?')){
        return false;
    }

  var deleteList = new Array();

  $('[name=item]').each(function(){ //선택한 아이템을 배열에 넣음
    let checkBox = $(this).children().last().children();
    let isChecked = checkBox.is(':checked');

    if(isChecked){
        deleteList.push(checkBox.val());
      }
  });

  var form = {
    "userName" : [[${#authentication.name}]],
    "cartIds" : deleteList
  }

  $.ajax({

    type : 'post',
    url : "/cart/delete",
    headers : {
        "Content-Type" : "application/json",
        "X-HTTP-Method-Override" : "POST"
    },
    dataType : 'json',
    data : JSON.stringify(form),
    success : function(res){
        if(res.data){ //응답이 true면 선택했던 아이템들 삭제
          $('[name=item]').each(function(){
              let checkBox = $(this).children().last().children();
              let isChecked = checkBox.is(':checked');
              if(isChecked){
                    $(this).remove();
              }
          });
        }

        else{
            alert("처리 과정에 문제가 생겼습니다.");
        }
        orderEnableCheck();
    },
    failure : function(){
        alert("서버와의 통신에 실패했습니다.");
    }

    });
    orderEnableCheck();
    return false;
}

function orderEnableCheck(){ //주문 가능여부 확인

    let isEnabled = false;
    $('[id=itemCheck]').each(function(){
        if($(this).prop('checked')) { //하나라도 체크가 되어있으면
          $('#order-btn').attr('disabled', false);
          isEnabled = true;
        }
    });
    if(!isEnabled) $('#order-btn').attr('disabled', true);
}


</script>
</html>
