<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> <!--스프링시큐리티 연동-->

<div class="header" th:fragment="bodyHeader(content, paramActive)">
    <div>
        <ul style="margin-bottom:20px; text-align:right; list-style: none;">


            <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="li-top">
                <a href="/logout">Logout</a>
            </li>

            <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="li-top">
                <a href="/mypage/details">MyPage</a>
            </li>

            <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="li-top">
                <a href="/cart">장바구니</a>
            </li>

            <li sec:authorize="hasRole('ROLE_GUEST') || !isAuthenticated()" class="li-top">
                <a href="/members/new">Sign up</a>
            </li>

            <li sec:authorize="hasRole('ROLE_GUEST') || !isAuthenticated()" class="li-top">
                <a href="/login-form">Sign in</a>
            </li>

            <li sec:authorize="hasRole('ROLE_ADMIN')" class="li-top">
                <a href="/admin">Admin Menu</a>
            </li>

            <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="li-top">
                <a th:text="|${#authentication.name} 님 환영합니다!|"></a>
            </li>

        </ul>
    </div>
    <div>
        <a href="/" style="width:180px; display:block;" ><h3 class="text-muted">HELLO SHOP</h3></a>
    </div>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/items/new">상품 등록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/items">상품 목록</a>
                    </li>
                    <li class="nav-item" style="margin-left:100px;">
                        <a class="nav-link disabled">상품 검색</a>
                    </li>
                </ul>
                <form class="d-flex" role="search" action="/items" method="get">
                    <input class="form-control me-2" name="itemName" type="search" placeholder="상품명" >
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>