<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> <!--스프링시큐리티 연동-->

<div class="header" th:fragment="bodyHeader">
    <div>
        <ul style="margin-bottom:20px; text-align:right; list-style: none;">


            <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="li-top">
                <a href="/logout">Logout</a>
            </li>

            <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="li-top">
                <a href="/mypage">MyPage</a>
            </li>

            <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="li-top">
                <a href="/cart">장바구니</a>
            </li>

            <li sec:authorize="hasRole('ROLE_GUEST') || !isAuthenticated()" class="li-top">
                <a href="/members/new">Sign up</a>
            </li>

            <li sec:authorize="hasRole('ROLE_GUEST') || !isAuthenticated()" class="li-top">
                <a href="/login-form">Sign in</a>
            </li>

            <li sec:authorize="hasRole('ROLE_ADMIN')" class="li-top">
                <a href="/admin">Admin Menu</a>
            </li>

            <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="li-top">
                <a th:text="|${#authentication.name} 님 환영합니다!|"></a>
            </li>

        </ul>
    </div>
    <div>
        <a href="/" style="width:180px; display:block;" ><h3 class="text-muted">HELLO SHOP</h3></a>
    </div>
</div>