<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html::header(~{::head}, 'home')}">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div class="container">
    <div th:replace="~{fragments/bodyheader.html::bodyHeader(~{::body}, 'home')}" />
    <div class="jumbotron">
        <h1>HELLO SHOP Ver.0.2</h1>
        <p class="lead">상품 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/items/new">상품 등록</a>
            <a class="btn btn-lg btn-dark" href="/items">상품 목록</a>
        </p>


    </div>
    <div th:replace="~{fragments/footer::footer(~{::body}, 'home')}" />
</div> <!-- /container -->
</body>
</html>