<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<style>

</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <input id="test" type="number" value="1">
    <input id="test2" type="number" value="3">
    <button type="button" onclick="out()">출력</button>

    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script>

jQuery(document).ready(function () {
    $("#test").rating({min: 0, max: 5, step: 1, size: 'lg', showClear: false});
    $("#test2").rating({min: 0, max: 5, step: 1, showClear: false, displayOnly: true});
});


function out(){
    var a = $('#test').val()
    console.log(a);
    console.log(typeof a);
}
</script>

</html>