<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <p th:text="'현재유저 : ' + ${userName}">없어용</p>
    <p th:text="'상품명 : ' + ${itemForm.itemName}"></p>
    <p th:text="'저자 : ' + ${itemForm.author}"></p>
    <p th:text="'설명 : ' + ${itemForm.description}"></p>
    <p th:text="'가격 : ' + ${itemForm.price}"></p>

    <div align="center">
        <div>
            <input type="number" style="width:50px" min="1" id="count" value="1">
        </div>
        <div style="float: left; width: 50%; padding:10px;" align="right">
            <a href="#" th:data-id="${itemForm.id}"
               th:onClick="buy(this.getAttribute('data-id'))"
            class = "btn btn-primary">바로 구매</a>
        </div>
        <div style="float: left; width: 50%; padding:10px;" align="left">
            <a href="#" th:data-user="${userName}" th:data-id="${itemForm.id}"
               th:onClick="addItemToCart(this.getAttribute('data-user'), this.getAttribute('data-id'))"
               class = "btn btn-primary">장바구니에 추가</a>
        </div>
    </div>
    <form role="form" action="/items/createComment" th:object="${commentForm}" method="post">
        <div class="form-group">
            <label>댓글 쓰기</label>
            <input type="hidden" th:field="*{createdUserName}">
            <input type="hidden" th:field="*{itemId}">
            <input type="text" th:field="*{content}" class="form-control" placeholder="내용을 입력하세요">
<!--                   th:class="${#fields.hasErrors('content')}? 'form-control fieldError' : 'form-control'">-->
<!--            <p th:if="${#fields.hasErrors(('content')}" th:errors="*{content}" style="color:red;"/>-->
        </div>
        <button type="submit" class="btn btn-primary">작성</button>
    </form>
    <div th:each="comment : ${comments}">
        <span th:text = "${comment.createdUserName} + ' / '"/>
        <span th:text = "${comment.lastModifiedDate} + ' / '"/>
        <span th:text = "${comment.content}"/>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script th:inline="javascript">
function buy(itemId){
    var form = document.createElement("form");
    form.setAttribute("method", "get");
    form.setAttribute("action", "/orders/new");

    var hiddenField1 = document.createElement("input");
    hiddenField1.setAttribute("type", "hidden");
    hiddenField1.setAttribute("name", "itemId");
    hiddenField1.setAttribute("value", itemId);
    form.appendChild(hiddenField1);

    var hiddenField2 = document.createElement("input");
    hiddenField2.setAttribute("type", "hidden");
    hiddenField2.setAttribute("name", "orderType");
    hiddenField2.setAttribute("value", "buy");
    form.appendChild(hiddenField2);

    var count = document.getElementById("count").value;
    var hiddenField3 = document.createElement("input");
    hiddenField3.setAttribute("type", "hidden");
    hiddenField3.setAttribute("name", "count");
    hiddenField3.setAttribute("value", count);
    form.appendChild(hiddenField3);

    document.body.appendChild(form);
    form.submit();
}

function addItemToCart(username, itemId) {
    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "/cart/new");

    var hiddenField1 = document.createElement("input");
    hiddenField1.setAttribute("type", "hidden");
    hiddenField1.setAttribute("name", "itemId");
    hiddenField1.setAttribute("value", itemId);
    form.appendChild(hiddenField1);

    var count = document.getElementById("count").value;
    var hiddenField3 = document.createElement("input");
    hiddenField3.setAttribute("type", "hidden");
    hiddenField3.setAttribute("name", "count");
    hiddenField3.setAttribute("value", count);
    form.appendChild(hiddenField3);

    document.body.appendChild(form);
    form.submit();
}
</script>
</html>