<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html::header(~{::head}, 'home')}">


<body>
<style>
  .mb-2{
    margin-right: 10px;
    margin-left: 10px;
  }
</style>
<div class="container">
    <div th:replace="~{fragments/bodyheader.html::bodyHeader(~{::body}, 'home')}" />

    <!--검색창-->
    <div>
        <form th:object="${search}">
            <!--첫번째 줄-->
            <div class="form-inline">
                <div class="form-group mb-2">
                    <input type="text" th:field="*{itemName}" class="formcontrol" placeholder="상품명"/>
                </div>
                <div class="form-group mb-2">
                    <input type="text" th:field="*{author}" class="formcontrol" placeholder="저자명"/>
                </div>
            </div>
            <!--/첫번째 줄-->

            <!--두번째 줄-->
            <div class="form-inline">
                <div class="form-group mb-2">
                    <label>최소 가격</label>
                    <input type="number" min="0" th:field="*{minPrice}" class="formcontrol"/>
                </div>
                <div class="form-group mb-2">
                    <label>최대 가격</label>
                    <input type="number" min="0" th:field="*{maxPrice}" class="formcontrol"/>
                </div>
                <div class="form-group mb-2">
                    <label>정렬기준</label>
                    <select th:field="*{sortOption}">
                        <option th:each="option : ${T(pofol.shop.dto.ItemSortOption).values()}" th:value="${option}"
                                th:text="${option.getValue()}"></option>
                    </select>
                </div>
            </div>
            <!--/두번째 줄-->

            <button type="submit" class="btn btn-primary mb-2">검색</button>
        </form>
    </div>
    <!--/검색창-->

    <!--상품 목록-->
    <div>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>상품명</th>
                <th>저자</th>
                <th>가격</th>
            </tr>
            <tr th:each="item : ${items}">
                <td th:text="${item.id}"></td>
                <td>
                    <a th:text="${item.name}" th:href="@{/items/{id}(id = ${item.id})}"></a>
                </td>
                <td th:text="${item.author}"></td>
                <td th:text="${item.price}"></td>
            </tr>
        </table>
    </div>
    <!--/상품 목록-->

    <!--페이지 이동 버튼-->
    <!--1~10, 11~20, 21~30 ... 이런식으로 표시됨-->
    <div align="center">
        <!--현재 시작번호에서-1 페이지로 이동-->
        <!--현재 시작번호가 10보다 크면 표시함-->
        <a th:if="${pageStart} > 1"
           th:href="@{/items(
                            page=${pageStart - 2},
                            itemName=${search.itemName},
                            author=${search.author},
                            minPrice=${search.minPrice},
                            maxPrice=${search.maxPrice},
                            sortOption=${search.sortOption}
                            )}"
           th:text="|<<|"
           class="btn btn-info"
        ></a>

        <!--페이지 번호 목록-->
        <span>
                <a style="margin:3px;"
                   th:each="num : ${#numbers.sequence( __${pageStart}__ , __${pageEnd}__ )}"
                   th:with="isCur = ${ __${num}__ == __${curNumber}__ }"
                   type="button"
                   th:class="${isCur ? 'btn btn-primary' : 'btn btn-info'}"
                   th:text="${num}"
                   th:href="@{/items(
                           page=${num-1},
                           itemName=${search.itemName},
                           author=${search.author},
                           minPrice=${search.minPrice},
                           maxPrice=${search.maxPrice},
                           sortOption=${search.sortOption}
                           )}"
                ></a>
        </span>

        <!--현재 마지막번호+1 페이지로 이동-->
        <!--현재 마지막 번호가 전체에서 마지막 페이지면 표시안함-->
        <a th:if="${pageEnd} < ${totalPage}"
           th:href="@{/items(
                           page=${pageEnd},
                           itemName=${search.itemName},
                           author=${search.author},
                           minPrice=${search.minPrice},
                           maxPrice=${search.maxPrice},
                           sortOption=${search.sortOption}
                           )}"
           th:text="|>>|"
           class="btn btn-info"
        ></a>

    </div>
    <!--페이지 이동 버튼-->

    <div th:replace="~{fragments/footer::footer(~{::body}, 'home')}" />

</div> <!-- /container -->
</body>
</html>