<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html::header(~{::head}, 'home')}">
<style>
.item-info{
    float:left;
    width:50%;
}

.item-info-child{
    margin-bottom:70px;
}

.item-text{
    font-weight: bold;
    font-size: 1.5em;
}


</style>

<body>
<div class="container">
    <div th:replace="~{fragments/bodyheader.html::bodyHeader(~{::body}, 'home')}" />
    <!--상품 이미지와 정보-->
    <div style="height:500px;">
        <input id="data-for-order" type="hidden" th:data-name="${itemDto.name}"
               th:data-price="${itemDto.price}"
               th:data-id="${itemDto.id}">

        <div class="item-info" align="center">
            <img th:src="|/images/${fileId}|" width="300" height="450">
        </div>
        <div class="item-info">
            <input type="hidden" readonly th:value="${itemDto.id}"/>
            <div class="item-info-child">
                <p class="item-text" th:text="${itemDto.name}" th:value="${itemDto.name}"/>
                <hr>
            </div>
            <div class="item-info-child">
                <p class="item-text" th:text="'저자 : ' + ${itemDto.author}"/>
                <hr>
            </div>
            <div class="item-info-child" align="right">
                <p class="item-text" th:text="|${itemDto.price} 원|" th:value="${itemDto.price}"/>
                <hr>
            </div>
            <div class="item-info-child">
                <label class="item-text" th:text="|평점 ${itemDto.rating}|"></label>
                <input type="number" id="itemRating" th:value="${itemDto.rating}">
            </div>
        </div>
    </div>
    <!--/상품 이미지와 제목, 가격, 평점 정보-->

    <!--수량선택과 바로구매, 장바구니 추가 버튼-->
    <div align="center" style="height:120px;">
        <div style="height:60px;">
            <input type="number" style="width:50px" min="1" id="count" value="1">
        </div>
        <div style="float: left; width: 50%; padding:10px;" align="right">
            <a href="#" th:data-username="${userName}"
               th:onClick="buy(this.getAttribute('data-username'))"
               class="btn btn-primary">바로 구매</a>
        </div>
        <div style="float: left; width: 50%; padding:10px;" align="left">
            <a href="#" th:data-user="${userName}" th:data-id="${itemDto.id}"
               th:onClick="addItemToCart(this.getAttribute('data-user'), this.getAttribute('data-id'))"
               class="btn btn-primary">장바구니에 추가</a>
        </div>
    </div>
    <!--/수량선택과 바로구매, 장바구니 추가 버튼-->

    <!--상품 설명-->
    <div>
        <hr>
        <p align="center" class="item-text" th:text="${itemDto.descriptionTitle}"></p>
        <hr>
        <p style="white-space: pre-line" th:text="${itemDto.description}"></p>
    </div>
    <!--상품 설명-->

    <!--후기 입력 Form-->
    <hr style="margin-top:70px">
    <form role="form" th:object="${commentForm}">
        <div class="form-group">
            <label style="margin-left:10px">후기 쓰기</label>
            <input id="itemId" type="hidden" th:field="*{itemId}">
            <div class="form-group">
                <textarea id="content" class="form-control" cols="20" rows="3" style="margin:10px;"
                          placeholder="내용을 입력해주세요. (10자이상)"></textarea>
                <div style="margin:10px 10px 10px 10px;">
                    <input id="rating" type="text" value="5" class="form-control"> <!--별점 입력-->
                </div>
                <button id="commentSubmit" type="button" th:onclick="addComment()" class="btn btn-primary"
                        style="margin:10px;">작성
                </button>
            </div>
        </div>
    </form>
    <!--후기 입력 Form-->

    <hr>

    <!--현재 작성된 후기 카운트-->
    <div style="margin:5px">
        <span th:text="|후기(|"/>
        <span id="commentsCount" th:text="${#lists.size(comments)}"/>
        <span th:text="|)|"/>
    </div>
    <!--현재 작성된 후기 카운트-->

    <!--작성된 후기 목록-->
    <table class="table">
        <thead>
        <tr align="center">
            <th width="30px"></th>
            <th width="100px">유저명</th>
            <th width="170px">작성일자</th>
            <th width="100px">평점</th>
            <th>내용</th>
        </tr>
        </thead>
        <tbody id="commentsParent">
        <tr th:each="comment : ${comments}">
            <td><img th:src="|/images/${comment.profileImageId}|" width="50" height="50"></td>
            <td th:text="${comment.userName}"></td>
            <td th:text="${comment.lastModifiedDateTime}"></td>
            <td><input name="ratingDisplay" id="ratingDisplay" th:value="${comment.rating}"></td>
            <td style="white-space: pre-line" th:text="${comment.content}"></td>

        </tr>
        </tbody>
    </table>
    <!--작성된 후기 목록-->
    <div th:replace="~{fragments/footer::footer(~{::body}, 'home')}" />
</div> <!-- /container -->
</body>
<script>


jQuery(document).ready(function () { //j쿼리를 이용한 별점 세팅
    $(":input[id='ratingDisplay']").each(function () {
        $(this).rating({min: 0, max: 5, step: 1, size: 'sm', showClear: false, displayOnly: true, showCaption: false});
    });

    $("#rating").rating({min: 0, max: 5, step: 1, showClear: false, showCaption: false});
    $("#itemRating").rating({min: 0, max: 5, step: 0.1, showClear: false, showCaption: false, displayOnly: true});
});

function buy(name){ //바로구매
    var orderCount = document.getElementById("count").value;
    var items = new Array();
    var item = {};

    item.itemId = $('#data-for-order').attr('data-id');
    item.itemName = $('#data-for-order').attr('data-name');
    item.price = $('#data-for-order').attr('data-price');
    item.count = orderCount;
    item.totalPrice = item.price * item.count;

    items.push(item);

    var form = {
      "userName" : name,
      "items" : items
    }

    console.log(form);

    $.ajax({

    type : 'post',
    url : "/orderSheet/new",
    headers : {
        "Content-Type" : "application/json",
        "X-HTTP-Method-Override" : "POST"
    },
    dataType : 'json',
    data : JSON.stringify(form),
    success : function(res){ //생성된 주문시트 url로 이동
        window.location.href = 'http://localhost:8080/orderSheet/' + res.data;
    },
    failure : function(){
        alert("서버와의 통신에 실패했습니다.");
    }

    });

    return false;

}

function addItemToCart(username, itemId) { //장바구니 추가

var count = document.getElementById("count").value;

    //Cart 생성 폼
    var form = {
        "userName" : username,
        "itemId" : itemId,
        "count" : count
    };

    $.ajax({

    type : 'post',
    url : '/cart/new',
    headers : {
        "Content-Type" : "application/json",
        "X-HTTP-Method-Override" : "POST"
    },
    dataType : 'json',
    data : JSON.stringify(form),
    success : function(){
        if(confirm("장바구니로 이동하시겠습니까?")){ //장바구니로 이동
            window.location.href = "http://localhost:8080/cart";
        }
        else{
            return false;
        }
    },
    failure : function(){
        alert("서버와의 통신에 실패했습니다.");
    }

    });

}

function addComment(){ //후기 생성

    if($('#content').val().length <= 10) {
        alert('내용을 10자이상 입력해주세요');
        return false;
    }

    if(!confirm('댓글을 작성하시겠습니까?')){
        return false;
    }

    //후기 생성 폼
    var form = {
        'itemId' : $('#itemId').val(),
        'content' : $('#content').val(),
        'rating' : $('#rating').val()
    }

    $.ajax({

    type : 'post',
    url : '/comments/new',
    headers : {
        "Content-Type" : "application/json",
        "X-HTTP-Method-Override" : "POST"
    },
    dataType : 'json',
    data : JSON.stringify(form),
    success : function(){
        window.location.reload(); //작성이 성공했으면 새로고침
    },
    failure : function(){
        alert("서버와의 통신에 실패했습니다.");
    }

    });

}


</script>
</html>