<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <input id="imgUrl" type="hidden" th:value="${imgUrl}">
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>
window.onload = function() {
    $('#img', opener.document).attr('src', $('#imgUrl').val()); //부모창의 프로파일 이미지를 바꿈
    window.close();
}
</script>
</html>