<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html::header(~{::head}, 'home')}">

<body>

<style>
    .form-control{
        width: 200px;
        height: 45px;
    }

</style>

<div class="container" align="center">
    <div>
        <img id="img" th:src="|/images/${defaultImageId}|" width="100" height="100"/>
        <input type="hidden" id="defaultImageId" th:value="${defaultImageId}">
        <p>미리보기 이미지</p>
    </div>

    <form action="/mypage/details/profile/update" method="post" enctype="multipart/form-data">
        <input id="uploadImg" name="uploadImg" type="file" accept="image/*" style="width:20%; height:45px;"
               class="form-control">
        <div style="padding:20px;">
            <button type="submit" class="btn btn-primary">확인</button>
            <a href="#" onclick="javascript:closeThis();" class="btn btn-primary">취소</a>
        </div>
    </form>

</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>
function closeThis() {
    window.close();
}

function readURL(input) { //미리보기 이미지 변경
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            $('#img').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
}

$("#uploadImg").change(function() { //파일 업로드 이벤트 등록
    if( $("#uploadImg").val() == '' ) {
        let defaultImageId = $("#defaultImageId").val();
        $('#img').attr('src' , '/images/' + defaultImageId);
    }
    $('#img').css({ 'display' : '' });
    readURL(this);
});

function imgAreaError(){
    $('#img').css({ 'display' : 'none' });
}

</script>

</html>